.invalidCellNumber {
  position:absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: red;

  /* Moves the red dot into the lower right corner */
  margin-top: -26px;
  margin-left: 48px;
}

.cellNumberRevealed {
  font-size: 50px;
  width: 75px;
  height: 75px;
  outline:1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 75px; 
  background-color: gray;
}

.cellNumber {
  font-size: 50px;
  font-weight: bold;
  width: 75px;
  height: 75px;
  outline:1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 75px; 
  background-color: lightgray;
}