.gameBoardGrid {
  display: grid;
  grid-template-rows: 75px 75px 80px 75px 75px 80px 75px 75px 75px;
  grid-template-columns: 75px 75px 80px 75px 75px 80px 75px 75px 75px;
  /* margin: 30px; */
  background-color: black;
  outline: 5px solid black;
}