
  html {
    font-size: 30px;
    background-color: rgb(167, 167, 167);
  }
  
  h1 {
      font-size: 48px;
      text-align: center;
  }

  .mainGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  
  }
  
  .gameBoardGrid {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    align-content: center;
    justify-content: center;
    background-color: darkgray;
  }
  
  .cell {
    font-size: 40px;
  }

  /* still takes up space */
  .hidden { 
    visibility: hidden; 
  }