
  html {
    font-size: 20px;
    background-color: rgb(167, 167, 167);
    cursor: pointer;
  }
  
  .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
  }

  .content {
    grid-column: 1;
  }

  .title {
    font-size: 48px;
    text-align: center;
    grid-row: 1;
  }

  .side-bar {
    grid-column: 2;
  }