
  html {
    font-size: 30px;
    background-color: rgb(167, 167, 167);

    cursor: pointer;
  }
  
  h1 {
      font-size: 48px;
      text-align: center;
  }

  .mainGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  
  }
  
  .gameBoardGrid {
    display: grid;
    grid-template-rows: 225px 225px 225px;
    grid-template-columns: 225px 225px 225px;
    align-content: center;
    justify-content: center;
    background-color: darkgray;
  }
  
  .cell {
    font-size: 40px;
    display: grid;
    grid-template-rows: 25px 25px 25px;
    grid-template-columns: 25px 25px 25px;
    width: 75px;
    height: 75px;

    outline:1px solid white;
  }

  .candidateCell {
    font-size: 18px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: grey;
    text-align: center;
  }

  /* still takes up space */
  .hidden { 
    visibility: hidden; 
  }

  .subGrid {
    display: grid;
    grid-template-rows: 75px 75px 75px;
    grid-template-columns: 75px 75px 75px;

    outline: 5px solid black;
  }